streamlit
pandas
Pillow
streamlit
pandas
Pillow
scikit-learn
numpy
fpdf
streamlit
pandas
Pillow
scikit-learn
fpdf
plotly
xgboost
streamlit==1.45.1
pandas==2.3.0
scikit-learn==1.7.0
xgboost==3.0.2
fpdf==1.7.2
plotly==6.1.2
Pillow==11.2.1
